/* 電網學校 style */
.pow-bg-div {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.pow-bg-div-2 {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pow-bg-img {
  background: url('/img/layout/bg-2.png') left bottom no-repeat fixed;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background-size: 40%;
}

.pow-bg-img-2 {
  background: url('/img/layout/bg.png') right bottom no-repeat fixed;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background-size: 35%;
  position: absolute;
}

.pow-header-img {
  position: absolute;
  height: 42px;
  bottom: 0;
  left: 126px;
}

.pow-header-img img {
  width: 100%;
  height: 100%;
}

.pow-nav {
  position: relative;
  font-size: 18px;
  padding: 10px 0;
}
.pow-logo {
  position: absolute;
  top: 12px;
  height: 100px;
  transition: 0.5s;
}

.pow-menu-cont {
  margin-left: 140px;
}

.pow-top-line {
  width: 100%;
  height: 5px;
  background: linear-gradient(160deg, #5dc8be 0%,#89ae5c 99%);
}

.pow-menu {
  padding: 8px;
  font-size: 20px;
  background: linear-gradient(160deg, #5dc8be 0%,#89ae5c 99%);
}

/* 滾輪下拉後縮小 header */
.nz-small-header .pow-top-line{
  transition: 0.5s;
  height: 3px;
}
.nz-small-header .pow-logo {
  top: 9px;
  height: 92px;
}

.nz-small-header .pow-menu {
  font-size: 18px;
  padding: 7px;
}

.nz-small-header .pow-nav{
  padding: 6px 0;
}

/* 聯盟廠商 */
dl#logos dt {
  float: left;
  height: 40px;
  margin: 20px;
}

dl#logos dt img {
  height: 40px;
}

/* RWD */
@media(max-width: 991.98px) {
  .pow-logo {
    height: 45px;
    top: 6px;
  }

  .nz-small-header .pow-logo {
    height: 44px;
    top: 2px;
  }

  .pow-bg-img,
  .pow-bg-img-2  {
    display: none;
  }
}